<div class="col-lg-3 d-none d-lg-block" style="margin-top: 63px;">
                <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                    <h6 class="m-0">Categories</h6>
                    <i class="fa fa-angle-down text-dark"></i>
                </a>
                <nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0" id="navbar-vertical">
                    <div class="navbar-nav w-100 overflow-hidden" >
                        {% for cats in category_all %}
                        <a href="{% url 'Category_product' cats.id %}" class="nav-item nav-link">{{ cats.Category_Name }}</a>
                        {% endfor %}
                        <a href="{% url 'Contact' %}" class="nav-item nav-link">Contact</a>
                        <a href="{% url 'Live_Video' %}" class="nav-item nav-link">Live Video</a>
                    </div>
                </nav>
            </div>